.button{
    width: 32px;
    height: 32px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
}

.button_left{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.active{
    background-color: blue;
    position: relative;
}

