.table{
    border: 1px solid black;
}
.table th{
    padding: 4px 15px;
    font-size: 20px;
}

.table td{
    text-align: center;
}

/* .odd{
    
    background-color: '#F9F9F9'!important;
} */

tbody tr:nth-child(odd){
    background-color: #F9F9F9!important;
}