<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        input {
            width: 200px;
            height: 20px;
            padding: 0 5px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            border: 1px solid black;
            border-top: none;
            width: 212px;
        }

        li {
            padding: 3px 6px;
            margin: 0;
            user-select: none;
        }

        .active {
            background-color: #76B7DA;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="select" @keydown.up='up' @keydown.down='down'
            @keydown.enter='enter'>

        <div class="options">
            <ul>
                <li v-for="(item,index) in options" :class='{active:index===initIndex}' @click='selectOne(item,index)'>
                    <span>{{item}}</span>
                </li>
            </ul>
        </div>
        <span>总数据：{{list}}</span>
        {{options}}
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                initIndex: 0,
                select: '',
                list: [
                    '张三',
                    '张四',
                    '王五',
                    '王老七',
                    '唐僧',
                    '孙悟空',
                    '猪八戒',
                    '如来佛祖'
                ]
            },
            methods: {
                
                selectOne(item, i) {
                    this.select = item
                },
                up() {
                    this.initIndex--
                    if (this.initIndex < 0) {
                        this.initIndex = this.options.length - 1
                    }
                },
                down() {
                    this.initIndex++
                    if (this.initIndex > this.options.length - 1) {
                        this.initIndex = 0
                    }
                },
                enter() {
                    if (this.options.length > 0) {
                        this.select = this.options[this.initIndex]
                    }
                }
            },
            computed: {
                options() {
                    // return this.list.map((item,i)=>{
                    //     if(item.indexOf(this.select)!=-1){
                    //         return item
                    //     }else{
                    //         return
                    //     }
                    //     // return item.indexOf(this.select)!=-1
                    // })
                    if (this.select === '') return []
                    return this.list.filter(item => {
                        if (item.indexOf(this.select) != -1) {
                            return item
                        }
                    })
                }
            },
        })
    </script>
</body>

</html>