.wrap{
    width: 300px;
    height: 4px;
    border-radius: 2px;
    background-color: #e8eaec;
    cursor: pointer;
    margin: 20px 10px;
}

.wrap .swiper{
    /* width: 100px; */
    height: inherit;
    border-radius: inherit;
    background-color: #57a3f3;
    position: relative;
    /* transition-duration: .3s; */
}

.duration{
    transition-duration: .3s;
}

.wrap .swiper .point{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #57a3f3;
    background-color: white;
    transform: translateX(6px);
    right: 0;
    top: -5px;
    transform-origin: -100% 50%;
    transition-duration: .2s;
}

.wrap .swiper .point:hover{
    transform: scale(1.3);
}
